@font-face {
	font-family: 'Comfortaa';
	src: url('../font/comfortaa/Comfortaa-VariableFont_wght.ttf');
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	font-family: "Comfortaa", sans-serif;
	font-size: inherit;
	color: black;
	font-weight: 200;
	z-index: 0;
}

ul { list-style: none; }
*:active, *:after { color: black; }

body {
	background-color: #1A1A1A;
	font-size: 20px;
	width: 100vw;
	min-width: 1440px;
}

.wrapper {
	position: relative;
	width: 1280px;
	padding-left: 80px;
	padding-right: 80px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background: gray;
	height: 60px;
	width: 100%;
}


.header--sticky {
	position: sticky;
	left: 0;
	top: 0;
	z-index: 5;
}

.header__wrapper, .header__left_part, .header__right_part {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header__left_part {
	font-size: 1.5em;
	font-weight: 400;
}

.header__right_part {
	font-size: 1em;
	font-weight: 300;
}

.header__logo {
	margin-right: 10px;
}

.header__title {
	font-size: 1.5em;
}

.header__lang_btn {
	margin-left: 37px;
}

.logo {
	height: 40px;
}


.drop-down_menu {
	max-height: 1.3em;
}

.drop-down_menu__item {
	display: none;
	line-height: 1.3em;
}

.drop-down_menu__item:hover {
	border-bottom: solid 2px white;
	line-height: 1.4em;
}

.drop-down_menu__title {
	color: white;
	display: flex;
	align-items: center;
}

.drop-down_menu__item_title_append {
	margin-left: 5px;
	height: 0.8em;
	width: 0.8em;
	background-image: url('../img/nav_btn.svg');
	background-repeat: no-repeat;
	background-size: 0.8em;
	background-position: center;
}

.drop-down_menu--opened .drop-down_menu__item { display: block; color: white; }
.drop-down_menu--opened .drop-down_menu__title { color: black; }
.drop-down_menu--opened .drop-down_menu__item_title_append {
	transform: rotateZ(180deg);
	height: 1em;
	width: 1em;
	background-color: white;
	border-radius: 4px;
	margin-left: 8px;
}

.drop-down_menu--opened .drop-down_menu__content {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0 5px 5px 5px;
}


.simple_btn {
	height: min-content;
	width: min-content;
	background-color: #92942E;
	padding: 5px 6px;
	display: flex;
	align-items: center;
}

.simple_btn_append {
	margin-left: 5px;
	height: 1em;
	width: 1em;
}

.section {
	height: 95vh;
	min-height: 700px;
}

.section__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.section__title {
	font-weight: 600;
	font-size: 2em;
	color: white;
	margin-bottom: 3%;
	margin-top: 20px;
	width: max-content;
}

.section__title--right {
	align-self: flex-end;
	margin-left: auto;
}

.section__content {
	height: 100%;
}

/* footer */

.footer {
	height: 375px;
	background-color: gray;
}

.footer__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.footer__content_left, .footer__content_center, .footer__content_right {
	height: 100%;
}

.footer__content_left, .footer__content_right {
	width: 300px;
}

.footer__content_center {
	width: 355px;
}

.footer__logo_mountain {
	margin-top: 20px;
	width: 100%;
}

.footer__logo_gnu {
	margin-top: 40px;
	width: 100%;
}

.footer__menu {
	margin-top: 70px;
}

.footer__emails {
	margin-top: 50px;
}

.footer__socials_list {
	margin-top: 70px;
}


/* some flex styles ========= !!! future delete section */
.flex_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex_wrapper_column {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.flex_wrapper_jcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_wrapper_row_j-center_a-start {
	justify-content: center;
	align-items: flex-start;
}
.flex_wrapper_row_j-start_a-start {
	justify-content: flex-start;
	align-items: flex-start;
}
.flex_wrapper_row_j-end_a-start {
	justify-content: flex-end;
	align-items: flex-start;
}

.flex_wrapper_row_j-center_a-end {
	justify-content: center;
	align-items: flex-end;
}
.flex_wrapper_row_j-start_a-end {
	justify-content: flex-start;
	align-items: flex-end;
}
.flex_wrapper_row_j-end_a-end {
	justify-content: flex-end;
	align-items: flex-end;
}

.flex_wrapper_j-space-around {
	justify-content: space-around;
}

.flex_default_j { justify-content: space-between; }
.flex_default_a { align-items: center; }

.flex_self_start { align-self: flex-start; }
.flex_self_center { align-self: center; }
.flex_self_end { align-self: flex-end; }
/* end flex styles */

.border-radius-style {
	border-radius: 10px;
}


/* ARTICLE styles */
.small_info_block {
	background-color: gray;
	padding: 10px 27px;
	max-width: 400px;
	font-weight: inherit;
	line-height: inherit;
	transform: translateY(25px);
}

.small_info_block__title {
	background-color: #404040;
	padding: 5px 30px;
	font-weight: 500;
	transform: translateY(-30px);
	max-width: 300px;
	font-size: 1.5em;
}

.small_info_block__content {
	font-weight: 300;
	line-height: 1.5em;
}

/* action article */
.action_article {
	padding: 10px;
	background: gray;
	min-width: 600px;
	width: max-content;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.action_article__content_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* TEXT styles */
.simple_text {
	font-size: 1.5em;
	font-weight: 400;
	color: white;
	width: max-content;
	text-align: center;
}

.simple_text--theme_gray {
	background-color: gray;
	color: black;
}

.simple_text--theme_black {
	background-color: #252525;
}

.simple_text--default_theme {
	color: black;
	font-size: 1.2em;
	font-weight: 300;
}

.simple_text--container_small {
	padding: 5px;
}

.simple_text--container_medium {
	padding: 10px;
}

.simple_text--container_large {
	padding: 20px;
	font-size: 1.6em;
}

.simple_text--block { display: block; }


/* some containers */

.skewed_wrapper {
	display: block;
	transform: skewX(15deg);
	width: max-content;
	padding: 2px 6px;
}

.skewed_wrapper__content {
	transform: skewX(-15deg);
	width: 100%;
	display: block;
}

.skewed_wrapper--bg_gray { background-color: gray; }
.skewed_wrapper--bg_black { background-color: #252525; }


.from_side_block {
	width: 100%;
	display: flex;
	justify-content: center;
}

.from_side_block__content_wrapper {
	min-width: 1280px;
}

.from_side_block__content {
	width: max-content;
}

.from_side_block__content--right {
	margin-left: auto;
}

.from_side_block__side_left, .from_side_block__side_right {
	width: 100%;
	height: inherit;
}

.from_side_block--true_margin .from_side_block__side_left {
	padding-right: 80px;
}

.from_side_block--true_margin .from_side_block__side_right {
	padding-left: 80px;
}

/* list styles */

.simple_list {
	line-height: 1.5em;
}

.simple_list__item {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.simple_list__item:first-child {
	margin-top: 0;
}

.simple_list--item_bg_gray > .simple_list__item {
	background-color: gray;
}

.simple_list--item_bg_black > .simple_list__item {
	background-color: #252525;
}

.simple_list--medium_font > .simple_list__item {
	font-size: 1.5em;
	line-height: 1.8em;
	font-weight: 500;
}

.simple_list__item_prepand {
	height: 1.5em;
	width: 1.5em;
	margin-right: 10px;
}

.simple_list__item_prepand--large {
	height: 3em;
	width: 3em;
}


.separated_block {
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.separated_block__first_item {
	align-self: flex-end;
}

.separated_block__separator {
	margin-top: 8px;
	margin-bottom: 8px;
	width: 100%;
}

.separated_block__second_item {
	align-self: flex-start;
}

.separated_block--reverse {
	flex-direction: column-reverse;
}

.separated_block--align_reverse > .separated_block__first_item {
	align-self: flex-start;
}

.separated_block--align_reverse > .separated_block__second_item {
	align-self: flex-end;
}

.separated_block--vertical_seperator > .separated_block__separator {
	margin-left: 8px;
	margin-right: 8px;
	height: 100%;
	
	margin-top: 0;
	margin-bottom: 0;
	width: max-content;
}

.separated_block--vertical_seperator {
	flex-direction: row;
}

.separated_block--vertical_seperator > .separated_block--reverse {
	flex-direction: row-reverse;
}

.separated_block--align_center > .separated_block__first_item, .separated_block--align_center > .separated_block__second_item { align-self: center; }
.separated_block--align_start > .separated_block__first_item, .separated_block--align_center > .separated_block__second_item { align-self: flex-start; }

/* some default sizes */
.null_wrapper {
	width: 100%;
}

.null_wrapper__content {
	width: max-content;
}

.null_wrapper__content--right {
	margin-left: auto;
}


.space-between_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.space-between_wrapper__content_left {}
.space-between_wrapper__content_right {}

.max-w_container { width: 100%; }
.max-h_container { height: 100%; }
.max_container { width: 100%; height: 100%; }
.four_col_width { width: 400px; }
.five_col_width { width: 510px; }
.seven_col_width { width: 730px; }

.large-w_container { width: 80%; }
.medium-w_container { width: 50%; }
.small-w_container { width: 30%; }
.very-small-w_container { width: 15%; }

.large-h_container { height: 80%; }
.medium-h_container { height: 50%; }
.small-h_container { height: 30%; }
.very-small-h_container { height: 15%; }



.very-small-top_margin { margin-top: 5%; }
.small-top_margin { margin-top: 10%; }
.medium-top_margin { margin-top: 15%; }
.large-top_margin { margin-top: 20%; }


.social_logo {
	border-radius: 100%;
	background-color: whitesmoke;
	border: 2px solid black;
}
