@font-face {
	font-family: 'Comfortaa';
	src: url('../font/comfortaa/Comfortaa-VariableFont_wght.ttf');
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	font-family: "Comfortaa", sans-serif;
	font-size: inherit;
	color: black;
	font-weight: 200;
	z-index: 0;
}

ul { list-style: none; }
*:active, *:after { color: black; }

body {
	background-color: #1A1A1A;
	font-size: 20px;
	width: 100vw;
	min-width: 1440px;
}

.wrapper {
	position: relative;
	width: 1280px;
	padding-left: 80px;
	padding-right: 80px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background: gray;
	height: 60px;
	width: 100%;
}


.header--sticky {
	position: sticky;
	left: 0;
	top: 0;
	z-index: 5;
}

.header__wrapper, .header__left_part, .header__right_part {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__left_part {
	font-size: 1.5em;
	font-weight: 400;
}

.header__right_part {
	font-size: 1em;
	font-weight: 300;
}

/*.header__left_part, .header__right_part { height: 100%; }*/

.header__logo {
	margin-right: 10px;
}

.header__title {
	font-size: 1.5em;
}

.logo {
	height: 40px;
}


.drop-down_menu {
	max-height: 1.3em;
}

.drop-down_menu__item {
	display: none;
	line-height: 1.3em;
}

.drop-down_menu__item:hover {
	border-bottom: solid 2px white;
	line-height: 1.4em;
}

.drop-down_menu__title {
	color: white;
	display: flex;
	align-items: center;
}

.drop-down_menu__item_title_append {
	margin-left: 5px;
	height: 0.8em;
	width: 0.8em;
	background-image: url('../img/nav_btn.svg');
	background-repeat: no-repeat;
	background-size: 0.8em;
	background-position: center;
}

.drop-down_menu--opened .drop-down_menu__item { display: block; color: white; }
.drop-down_menu--opened .drop-down_menu__title { color: black; }
.drop-down_menu--opened .drop-down_menu__item_title_append {
	transform: rotateZ(180deg);
	height: 1em;
	width: 1em;
	background-color: white;
	border-radius: 4px;
	margin-left: 8px;
}

.drop-down_menu--opened .drop-down_menu__content {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0 5px 5px 5px;
}


.simple_btn {
	height: min-content;
	width: min-content;
	background-color: #92942E;
	padding: 5px 6px;
	display: flex;
	align-items: center;
}

.simple_btn_append {
	margin-left: 5px;
	height: 1em;
	width: 1em;
}

#change_lang_btn {
	margin-left: 37px;
}


.section {
	height: 95vh;
	min-height: 700px;
}

.section__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.section__title {
	font-weight: 600;
	font-size: 2em;
	color: white;
	margin-bottom: 3%;
	margin-top: 20px;
	width: max-content;
}

.section__title--right {
	align-self: flex-end;
	margin-left: auto;
}

.section__content {
	height: 100%;
}

/* some flex styles */
.flex_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex_wrapper_column {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.flex_wrapper_jcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_wrapper_row_j-center_a-start {
	justify-content: center;
	align-items: flex-start;
}
.flex_wrapper_row_j-start_a-start {
	justify-content: flex-start;
	align-items: flex-start;
}
.flex_wrapper_row_j-end_a-start {
	justify-content: flex-end;
	align-items: flex-start;
}

.flex_wrapper_row_j-center_a-end {
	justify-content: center;
	align-items: flex-end;
}
.flex_wrapper_row_j-start_a-end {
	justify-content: flex-start;
	align-items: flex-end;
}
.flex_wrapper_row_j-end_a-end {
	justify-content: flex-end;
	align-items: flex-end;
}

.flex_wrapper_j-space-around {
	justify-content: space-around;
}

.flex_default_j { justify-content: space-between; }
.flex_default_a { align-items: center; }

.flex_self_start { align-self: flex-start; }
.flex_self_center { align-self: center; }
.flex_self_end { align-self: flex-end; }


.border-radius-style {
	border-radius: 10px;
}



/* ARTICLE styles */
.small_info_block {
	background-color: gray;
	padding: 10px 27px;
	max-width: 400px;
	font-weight: inherit;
	line-height: inherit;
	transform: translateY(25px);
}

.small_info_block .small_info_block__title {
	background-color: #404040;
	padding: 5px 30px;
	font-weight: 500;
	transform: translateY(-30px);
	max-width: 300px;
	font-size: 1.5em;
}

.small_info_block .small_info_block__content {
	font-weight: 300;
	line-height: 1.5em;
}

/* action article */
.action_article {
	padding: 10px;
	background: gray;
	min-width: 600px;
	width: max-content;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.action_article__content_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* TEXT styles */
.simple_text {
	font-size: 1.5em;
	font-weight: 400;
	display: block;
	color: white;
	width: max-content;
	text-align: center;
}

.small_font { font-size: 0.9em; }
.medium_font { font-size: 1.1em; }

.simple_text_big {
	font-size: 3em;
}

.skewed_text_container {
	display: block;
	transform: skewX(15deg);
}

.skewed_text_container__content {
	transform: skewX(-15deg);
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	display: block;
}

/* some default sizes */
.max-w_container { width: 100%; }
.max-h_container { height: 100%; }
.max_container { width: 100%; height: 100%; }
.four_col_width { width: 400px; }
.five_col_width { width: 510px; }
.seven_col_width { width: 730px; }

.large-w_container { width: 80%; }
.medium-w_container { width: 50%; }
.small-w_container { width: 30%; }

.large-h_container { height: 80%; }
.medium-h_container { height: 50%; }
.small-h_container { height: 30%; }

.small_margin_left_container > * { margin-left: 20px; }
.small_margin_left_container > *:first-child { margin-left: 0; }

.small_margin_top_container > * { margin-top: 8px; }
.small_margin_top_container > *:first-child { margin-top: 0; }


/* some containers */
.container {
	background-color: gray;
	padding: 5px;
	color: black;
}

.container * {
	color: black;
}

.container_big {
	padding: 40px 30px;
}


.container_black {
	background-color: #252525;
	color: white;
}

.container_black * {
	color: white;
}



.from_side_block {
	width: 100%;
	display: flex;
	justify-content: center;
}

.from_side_block__content_wrapper {
	min-width: 1280px;
}

.from_side_block__content {
	width: max-content;
}

.from_side_block__content--right {
	margin-left: auto;
}

.from_side_block__side_left, .from_side_block__side_right {
	width: 100%;
	height: inherit;
}

.from_side_block--true_margin .from_side_block__side_left {
	padding-right: 80px;
}

.from_side_block--true_margin .from_side_block__side_right {
	padding-left: 80px;
}
