#big_logo_container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 70%;
	min-height: 400px;
}

#big_logo_container > div {
	width: 100%;
	height: 400px;
}

#mountain_logo_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	align-self: flex-end;
}

#smart_logo_container {
	align-self: flex-start;
	width: 80%;
	margin-left: 50px;
	height: 40%;
}

#mountain_logo_container img {
	align-self: flex-end;
	height: 100%;
}
.smart_logo_line {
	height: 4px;
	background-color: white;
	width: 100%;
	position: relative;
	padding-left: calc((100vw - 1280px) / 2);
}

.smart_line_vertical {
	height: 100%;
	width: 4px;
	background-color: white;
}

.smart_logo_line_left {
	transform: translateX(calc((100vw - 1280px) / (-2)));
}

@media (max-width: 1440px) {
	.smart_logo_line_left  {
		transform: translateX(-80px);
	}

	.smart_logo_line {
		padding-left: 80px;
	}
}

#smart_logo_container img {
	height: 100%;
}


#intro_info_container {
	justify-content: flex-end;
	height: 100px;
}

#intro_info {
	padding: 10px;
	background: gray;
	min-width: 600px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: calc((100vw - 1280px) / 2);
	transform: translateX(calc((100vw - 1280px) / 2));
}

#intro_start_work_btn {
	background-color: blanchedalmond;
	padding: 5px;
}

#intro_start_work_btn img {
	height: 25px;
	margin-left: 4px;
}

#our_virtues_container {
	height: 60%;
	width: 100%;
	margin-top: 60px;
}

#possibilities_right_info_wrapper {
	margin-top: 65px;
	height: 100px;
}

#possibilities_left_info_wrapper {
	height: 180px;
}

#possibilities_bottom_info_wrapper {
	margin-top: 200px;
}

#possibilities_bottom_info_wrapper > div:last-child { width: 30%; }
#possibilities_bottom_info_wrapper > div:last-child span { margin-top: 10px; }


#possibilities_bottom_info_wrapper > div:first-child > span:last-child {
	margin-left: 220px;
}
