.smart_logo_line {
	height: 4px;
	background-color: white;
	width: 100%;
	position: relative;
	padding-left: calc((100vw - 1280px) / 2);
}

.smart_line_vertical {
	height: 100%;
	width: 4px;
	background-color: white;
}

.smart_logo_line_left {
	transform: translateX(calc((100vw - 1280px) / (-2)));
}

@media (max-width: 1440px) {
	.smart_logo_line_left  {
		transform: translateX(-80px);
	}

	.smart_logo_line {
		padding-left: 80px;
	}
}
