.section {
	height: 95vh;
	min-height: 700px;
}

.section__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.section__title {
	font-weight: 600;
	font-size: 2em;
	color: white;
	margin-bottom: 3%;
	margin-top: 20px;
	width: max-content;
}

.section__title--right {
	align-self: flex-end;
	margin-left: auto;
}

.section__content {
	height: 100%;
}

